.container {
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

    background-image: -ms-linear-gradient(bottom, #266BE2 0%, #70dbff 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #266BE2 0%, #70dbff 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #266BE2 0%, #70dbff 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #266BE2), color-stop(1, #BF7F37));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #266BE2 0%, #70dbff 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #266BE2 0%, #70dbff 100%);
    color: white;
}

.sectionButton {
    display: inline-block;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
    font-family: 'Open Sans', sans-serif;
}

#sections {
    text-align: center;
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

title {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter; 
}                   

button {
    display: inline-block;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 18px;
    padding-top: 8px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
